.text{

}

p {
  padding: 5px;
  text-align: center;
  z-index: 1;
}

.title {

  text-align: center;

}

h2 {
  text-align: center;
}

.fonction {
  font-weight: normal;
  background-color: grey;
}

.raccourcis {
  font-weight: bolder;
  background-color:lightgrey;
}