/* en tête */
header{ 
  background-color:#9BB5B7;
  text-align: center;
}
/* paragraphe */
p {
  padding: 15px;
  
  text-align:center;
   }  
/* contents  HTML */
body{
  color:black;
  background-color:#216369;
  }
/* sous title */
h2 {
  text-align: center;
  background-color:#294B4E ;
}

.fonction {
  font-weight: normal;
  background-color: white;



}

.raccourcis {
  font-weight: bolder;
  background-color:lightgrey;
 

}
.para {
margin: center;
background-color:#61959A;

}


